@use '../../styles/utils.scss' as *;

.media {
    @include mobile {
        width: 100%;
        margin-bottom: 10px;
    }

    img, video {
        width: 100%;
        height: 300px;
        border-radius: 5px;
        object-fit: cover;
        cursor: pointer;
    }

    &_info {
        // display: flex;
        // justify-content: space-between;
        margin-top: 5px;
        color: $color-primary;
        font-size: 1.5rem;

        // p {
        //     white-space: nowrap;
        // }

        // p:first-child {
        //     flex: 50%;
        //     max-width: 50%;
        //     padding-right: 10px;
        //     white-space: nowrap;
        //     overflow: hidden !important;
        //     text-overflow: ellipsis;
        // }

        // p:nth-child(2){
        //     margin-right: 15px;
        // }

        span {
            cursor: pointer;
        }
    }
}